* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
}

.centenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sc1 button {
    width: 200px;
    height: 60px;
}
.sc2 img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .sc1 button {
        width: 150px;
        height: 50px;
    }
}