body{
    background-color: rgb(0, 0, 0);
    color: white;
}
#logo{
    height: 100px;
    width: 300px;
    
}

.sec1{
    display: flex;
}
.sec1 .pro_bar{
    width: 70%;
    margin-left: 20px;
}
.time{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    padding-right: 20px;
}
.logo_div{
    text-align: center;
    margin-top:-20px;
}
.box{
  border: 1px solid wheat ;


width: 50%;
text-align: center;
margin: auto;
margin-top: 50px;
}
.btn{
    width: 40%;
    color: white;
    background-color: aqua;
    margin: 10px;
}
.next_div{
  
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;

    
}
.btn_next{
    width: 100px;
    margin-right: 30px;
    margin-top: 60px;
}
#para_qst{
    border: 1px solid rgb(255, 255, 255);
}